<div>
  <h1>Meetalizer</h1>

  <p>A platform to create meetups and support awesome communities.</p>

  <% @groups.each do |group| %>
      <%= link_to group.name, group %>
      <p> Description: <%= group.description %> </p>
      <p> Region: <%= group.region %> </p>
  <% end %>

  <%= link_to 'Check all the groups', groups_path %>
</div>
