<div>
  <h1>Meetalizer</h1>

  <p>A platform to create meetups and support awesome communities.</p>

  <% @groups.each do |group| %>
      <%= link_to group.name, group %>
      <p> Description: <%= group.description %> </p>
      <p> Region: <%= group.region %> </p>
  <% end %>

  <% unless @groups.exists? %>
    <p> No meetups were created yet, maybe you can create the first? </p>
  <% end %>
</div>
